.banner-bg {
    background-image: linear-gradient(0deg, rgba(79, 201, 224, .4), rgba(79, 201, 224, .4)),url('../../../image/banner/banner-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
}
.banner-text {
    position: relative;
    top: 30%;
    transform: translateY(50%);
}
.banner-text h1 {
    color: #fff;
}
.banner-text p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}